@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

body {
    font-family: 'Khula', sans-serif;
}

.header {
    color: white;
    padding: 25px;
}

.jumbo {
    font-style: bold;
    background-image: url('./assests/stocks2.jpeg');
    background-size: cover;
    background-repeat: none;
}

.form-label {
    width: 100%;
}

.search-button {
    width: 100%;
    margin-bottom: 20px;
}

.card {
    margin: 15px 0;
    border: solid 1px green;
}

.username {
    font-weight: bolder;
    font-size: 1.2rem;
}

.tweet-cards {
    display: flex;
    justify-content: center;
}

.table {
    max-width: none;
    table-layout: fixed;
    word-wrap: break-word;
}

.count {
    float: right;
    margin-left: auto;
}
.results-container {
    display: flex;
    justify-content: space-between;
}

.symbol {
    font-size: 1.5em;
    color: #1d4728;
    text-align: center;
}
.card-user {
    display: flex;
}

.user-image {
    margin-right: 15px;
    margin-left: 10px;
}

.date {
    display: flex;
    justify-content: flex-end;
    color: rgb(62, 62, 62);
}
